#header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 40px 1rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: end;
  box-sizing: border-box;
}
@media (max-width: 750px) {
  #header {
    grid-template-columns: auto;
    justify-content: space-around;
  }
  #header h1 {
    display: none;
  }
}
#header a {
  border: none;
}

#menu li {
  float: left;
  display: block;
  margin-left: 10px;
}
