.good-news {
  max-width: 720px;
  margin: 0 auto;
}

.news-list .news {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.news-list .news:first-child {
  padding-top: 0;
}
.news-list .news h2 {
  margin-bottom: 10px;
}

.news-meta {
  color: #4d4d4d;
  font-style: normal;
  font-size: 13px;
  padding: 2px 0;
}

.news-excerpt {
  margin: 5px 0;
  color: #333;
}

.news-before cite {
  background-color: #cde7d6;
}

.news-after cite {
  background-color: #cdddec;
}

.news-table {
  width: 100%;
  font-size: 1.2rem;
}
.news-table a {
  display: block;
  padding: 0.5em;
  border-bottom: none;
}
.news-table th {
  font-weight: bold;
  white-space: nowrap;
}
.news-table tr {
  border-bottom: 1px solid #ccc;
}

.news-cards {
  gap: 2rem;
}

.news-card > a {
  display: grid;
  grid-template-columns: 5em 9fr;
  align-items: center;
  border: none;
  padding: 5px 10px;
  gap: 1rem;
  border-radius: 4px;
}
.news-card > a:hover {
  background-color: #fcfcfc;
}
@media (max-width: 1200px) {
  .news-card > a {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.news-card p {
  margin: 5px 0;
  font-size: 1rem;
}

.news-card header {
  font-size: 1.2rem;
  white-space: nowrap;
}
