.page-header {
  margin: 20px 0;
  border-bottom: 1px dashed #ccc;
}
.page-header h1 {
  font-size: 24px;
}
.page-header p {
  color: #666;
  padding: 0;
}

.page-sider {
  line-height: 1.5;
}
.page-sider h2 {
  margin: 10px 0;
  font-size: 15px;
}
.page-sider li {
  list-style: square outside;
  margin-left: 20px;
  line-height: 1.8;
}
