#footer {
  background: #e5e5e5;
}

#footer .container {
  box-shadow: 0 0 2px rgba(#000, 0.1);
  padding: 20px 40px;
  position: relative;
  background-color: #efefef;
}

#footer .foot-links {
  float: right;
}

#footer li {
  display: inline;
  margin-left: 10px;
}
